<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moodi.breakyourgoal"
    >

    <application
        android:name=".GoalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity android:name=".addgoal.AddGoalActivity"
            android:label="Add Goal"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:noHistory="true"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".goallist.ItemListActivity" />
        </activity>

        <activity
            android:name=".goallist.ItemListActivity"
            android:label="@string/title_goal_list"
            android:theme="@style/AppTheme"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".goaldetail.ItemDetailActivity"
            android:label="@string/title_goal_detail"
            android:parentActivityName=".goallist.ItemListActivity"
            android:configChanges="orientation|density"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".goallist.ItemListActivity" />
        </activity>

        <provider
            android:authorities="com.moodi.breakyourgoal.provider"
            android:name=".contentprovider.GoalContentProvider"
            android:exported="false"/>
    </application>

</manifest>